.circular-frame {
    width: 130px; /* Adjust as needed */
    height: 130px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -85px; 
    z-index: 1;
  }
  
  .circular-frame img {
    width: 75%;
    height: auto;
  }
  
  .edit{
    z-index: 2;
  }